documents_cs/czech.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT CZE		(DOC)+>
<!ELEMENT DOC		(DOCID,DOCNO,DATE,TITLE?,(HEADING?,GEOGRAPHY?,TEXT)+)>
<!ELEMENT DOCID		(#PCDATA)>
<!ELEMENT DOCNO		(#PCDATA)>
<!ELEMENT DATE          (#PCDATA)>
<!ELEMENT TITLE         (#PCDATA)>
<!ELEMENT HEADING       (#PCDATA)>
<!ELEMENT GEOGRAPHY     (#PCDATA)>
<!ELEMENT TEXT		(#PCDATA)>
